*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../drive-download-20170801T163958Z-001/Clima7.jpg);
    color:white;
    font-weight:bolder;
    font-size:20px;
}


#map{
    @include caja();
}

button{
    @include boton();
}

button:hover,button:focus{
    outline: 0;
}

.temperatura{
    font-size:40px;
}


